@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar{
  width: 0%;
}

/* For Firefox browsers */
* {
  scrollbar-color: transparent transparent;
}